.button {
    -fx-text-fill: white;
    -fx-background-color: dodgerblue;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, black, 5, 0.0, 2, 2);
}

.redbtn {
    -fx-background-color: crimson;
}

.greenbtn {
    -fx-background-color: yellowgreen;
}

.combo-box {
    -fx-background-color: dodgerblue;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, black, 5, 0.0, 2, 2);
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.title-label {
    -fx-font-weight: bold;
}